html, body {
  background-color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #ddd;
  padding: 1em 2em;
}

main {
  width: 400px;
  margin: 1em auto;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

label, input {
  font-size: 1em;
}

label {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

label > * {
  margin: 0 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px dotted black;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;;
}

.headings {
  background-color: #ddd;
}

.tax {
  background-color: #d99;
}

.payment {
  background-color: #ebb;
}

.take-home {
  background-color: #beb;
}

.money {
  text-align: right;
  width: 40%;
}

.detail > td {
  padding-left: 1em;
}

@media only screen and (max-device-width: 720px) {

  header, main, footer {
    padding: 1em;
    width: 100%;
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 0.75em;
  }

  label, input {
    font-size: 48px;
  }

  input {
    width: 33%;
  }

  table * {
    font-size: 48px;
  }

  table .detail > td {
    font-size: 36px;
  }

}
